{% extends "accounts/main.html" %}

{% block content %}
    <h3>List of completed courses for {{user.username}} in the {{user.student.programme}} programme</h3>


<div class="course_complete">

        <table>
            <tr>
                <th>Course code</th>
<!--                <th>Course name</th>-->
                <th>Course mark</th>
            </tr>
            {% for course in courses_complete %}
                <tr>
                    <td>{{course.course_code}}</td>
<!--                    <td>{{course.course_name}}</td>-->
                    <td>{{course.course_grade}}</td>
                </tr>
            {% endfor %}
        </table>
<!--        <ul>-->
<!--            <li>{{course.course_code}} {{course.course_grade}}</li>-->
<!--        </ul>-->

</div>

<p><a href="{% url 'complete_pdf' %}" class="btn btn-primary" >Get PDF</a></p>
<p><a href="{% url 'completed_pdf' %}" class="btn btn-primary" >View PDF</a></p>


{% endblock  %}