<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed Courses</title>
</head>
<body>
    <h1>University of Botswana</h1>
    <h3>Computing with Finance 1</h3>
         <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>COM141</td>
                    <td>Intro To Commn & Academic Literacy</td>
                    <td>71</td>
                </tr>
                <tr>
                    <td>CSI131</td>
                    <td>Discrete Structures I</td>
                    <td>59</td>
                </tr>

                <tr>
                    <td>CSI161</td>
                    <td>Introduction To Computing</td>
                    <td>66</td>
                </tr>
                <tr>
                    <td>MAT111</td>
                    <td>Introductory Mathematics I</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>CSI141</td>
                    <td>Programming Principles</td>
                    <td>62</td>
                </tr>
            </tbody>
         </table>
 <h3>Computing with Finance 2</h3>
          <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MAT122</td>
                    <td>Introductory Mathematics II</td>
                    <td>61</td>
                </tr>
                <tr>
                    <td>ACC100</td>
                    <td>Introduction To Accounting</td>
                    <td>77</td>
                </tr>

                <tr>
                    <td>COM142</td>
                    <td>Academic & Professional Commn</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>CSI132</td>
                    <td>Discrete Structures II</td>
                    <td>59</td>
                </tr>
                <tr>
                    <td>CSI142</td>
                    <td>Object-Oriented Programming</td>
                    <td>56</td>
                </tr>
            </tbody>
         </table>

        <h3>Computing with Finance 3</h3>

    <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ECO111 </td>
                    <td>Basic Microeconomics</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>FIN200 </td>
                    <td>Business Finance</td>
                    <td>75</td>
                </tr>

                <tr>
                    <td>LAW251 </td>
                    <td>Foundations Of Business Law</td>
                    <td>51</td>
                </tr>
                <tr>
                    <td>MAT221  </td>
                    <td>Calculus I</td>
<td>50</td>
                </tr>
                <tr>
                    <td>MGT202 </td>
                    <td>Small Business Management</td>
                    <td>72</td>
                </tr>
            <tr>
                    <td>CSI247 </td>
                    <td>Data Structures </td>
                    <td>50</td>
                </tr>
            </tbody>
         </table>

        <h3>Computing with Finance 4</h3>

      <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ACC206 </td>
                    <td>Fin. Acc. For Manuf. & Alternative Entities</td>
                    <td>68</td>
                </tr>
                <tr>
                    <td>ELECTI</td>
                    <td>Elective</td>
                    <td>82</td>
                </tr>

                <tr>
                    <td>ECO112 </td>
                    <td>Basic Macro Economics</td>
                    <td>84</td>
                </tr>
                <tr>
                    <td>CSI251</td>
                    <td>Computer Architecture And Organisation</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>CSI262</td>
                    <td> Database Concepts</td>
                    <td>76</td>
                </tr>
            <tr>
                    <td>STA114 </td>
                    <td> Business Statistics</td>
                    <td>75</td>
                </tr>
            </tbody>
         </table>

        <h3>Computing with Finance 5</h3>

        <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ACC309 </td>
                    <td>Principles Of Auditing</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>CSI342  </td>
                    <td>Systems Analysis And Design</td>
                    <td>85</td>
                </tr>

                <tr>
                    <td>CSI354 </td>
                    <td>Operating Systems</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>CSI374 </td>
                    <td>Computer Networks</td>
                    <td>72</td>
                </tr>
                <tr>
                    <td>FIN301  </td>
                    <td>Financial Institutions & Markets I</td>
                    <td>77</td>
                </tr>
            </tbody>
         </table>

        <h3>Computing with Finance 6</h3>
          <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CSI315 </td>
                    <td>Web Technology And Applications</td>
                    <td>77</td>
                </tr>
                <tr>
                    <td>CSI341 </td>
                    <td>Introduction To Software Engineering</td>
                    <td>58</td>
                </tr>

                <tr>
                    <td>CSI392 </td>
                    <td>Human Computer Interaction</td>
                    <td>59</td>
                </tr>
                <tr>
                    <td>FIN302</td>
                    <td>Financial Planning & Forecasting</td>
                    <td>68</td>
                </tr>
                <tr>
                    <td>FIN300 </td>
                    <td>Financial Management</td>
                    <td>76</td>
                </tr>
                  <tr>
                    <td>MGT303 </td>
                    <td>Entrepreneurship and New Business Formation</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>CSI352 </td>
                    <td>Industrial Attachment</td>
                    <td>66</td>
                </tr>
            </tbody>
         </table>

        <h3>Computing with Finance 7</h3>
         <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                     <th width="30%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CSI481 </td>
                    <td>Database Systems</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>CSI475 </td>
                    <td>Social Informatics</td>
                    <td>69</td>
                </tr>

                <tr>
                    <td>CSI161</td>
                    <td>Introduction To Computing</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>CSI473 </td>
                    <td>Software Design</td>
                    <td>81</td>
                </tr>
                <tr>
                    <td>CSI443 </td>
                    <td>Requirements Engineering</td>
                    <td>63</td>
                </tr>
                 <tr>
                    <td>CSI323 </td>
                    <td>Algorithms</td>
                     <td>60</td>
                </tr>
             <tr>
                    <td>FIN402 </td>
                    <td>International Business Finance</td>
                    <td>66</td>
                </tr>
            </tbody>
         </table>

        <h3>Computing with Finance 8</h3>
         <table border="0" align="center" width="50%">
            <thead>
                <tr>
                    <th width="50%">Course code</th>
                    <th width="80%">Course title</th>
                    <th width="50%">Course grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CSI420</td>
                    <td>Web Computing</td>
                    <td>88</td>
                </tr>
                <tr>
                    <td>CSI408</td>
                    <td>Project</td>
                    <td>57</td>
                </tr>

                <tr>
                    <td>FIN403</td>
                    <td>Financial Institution and Markets II</td>
                    <td>71</td>
                </tr>
                <tr>
                    <td>CSI454</td>
                    <td>Systems security</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>FIN404</td>
                    <td>Investment Analysis and Portfolio Management</td>
                    <td>67</td>
                </tr>
            <tr>
                    <td>CSI444</td>
                    <td>Software Project Management</td>
                    <td>62</td>
                </tr>
            </tbody>
         </table>

</body>
</html>