{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<section class="ftco-cover ftco-slant" style="background-image: url({% static 'images/bg_3.jpg' %});" id="section-home">
     <!--Jumbotron start-->
    <div class="jumbotron">
          <h1 class="display-4">Hello, {{request.user}}!</h1>
          <p class="lead">Welcome to the Returning Students Credits Checking System. Use this system to make academic planning a breeze.</p>
    </div>
    <!--Jumbotron end-->

    <div class="card" style="width: 18rem;">
        <!-- Card-body div start-->
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <div class="list-group">
                  <a href="{% url 'graduation' %}" class="list-group-item list-group-item-action">Confirm graduation eligibility</a>
                  <a href="{% url 'incompleteSemesters' %}" class="list-group-item list-group-item-action">View incomplete courses</a>
                  <a href="{% url 'completeSemesters' %}" class="list-group-item list-group-item-action">My course history</a>
                  <a href="{% url 'semester' %}" class="list-group-item list-group-item-action">Get semesters left till completion</a>
            </div>

        </div>
        <!-- Card-body div end-->

    </div>
</section>

{% endblock %}