{% extends "accounts/main.html" %}
{% block content %}

    <div class="graduation">
        <h3>Is {{user.username}} doing {{user.student.programme}} programme eligible for graduation?</h3>
<!--        <p>{{student.studentCGPA}}</p>-->

        {% if message  %}
            <div class="card text-center">
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <h5 class="card-title">Congratulations {{user.username}}</h5>
                    <p class="card-text">You have fulfilled all the requirements to qualify to graduate.
                        Below are the links which lead to the graduation application form, please visit them and fill
                        out the forms.</p>
                    <a href="#" class="card-link">Apply for Graduation</a>
                  </div>
                </div>
            </div>
        {% else %}
             <div class="card text-center">
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <p class="card-text">Unfortunately you have not fulfilled all the requirements to qualify to graduate.
                        </p>
                  </div>
                </div>
            </div>
        {%endif%}
    </div>


{% endblock  %}




